<header class="about-headline">
    <div class="flex justify-between xs:flex-col xs:gap-4 md:flex-row">
        <div class="about-headline__name">
            <h1 id="about-name">Fatih Sahin</h1>
            <p class="h2">Frontend Developer</p>
        </div>

        <figure class="about-headline__image xs:h-auto xs:w-auto md:h-96 md:w-96">
            <img
                class="rounded-md"
                src="/about-images/portrait.jpg"
                alt="Fatih Sahin Profile Picture"
            />
        </figure>
    </div>
</header>
