<div class="about-headline flex flex-col justify-between gap-3 md:flex-row">
  <!-- TEXT -->
  <div class="about-healine__text">
    <h1 id="about-name" class="about-headline__title">Fatih Sahin</h1>
    <h2 class="about-headline__description">Frontend Developer</h2>
  </div>

  <!-- IMAGE -->
  <div class="about-headline__image inline-block">
    <img
      src="/about-images/about.webp"
      alt="Headshot of Fatih Sahin"
      class="about-headline__image--img xl:max-h-110 2xl:max-h-180 block w-auto object-contain md:max-h-96"
    />
  </div>
</div>
