<div class="footer h-100 mx-6 border-t-[0.1px] border-gray-300">
  <div class="footer-content flex flex-col gap-2 mt-8">
    <h4 class="text-xs text-secondary">Contact</h4>
    <p class="md:w-[50%] mb-14 text-xs">
      Looking for someone who can blend frontend development and web design to
      bring your ideas to life? Whether you’re interested in collaborating,
      discussing a new opportunity, need support with your project — or just
      want to say hi — feel free to reach out.
    </p>

    <div class="footer-links flex flex-col md:flex-row justify-between w-full gap-2">
      <div class="footer-link">
        <h4 class="text-xs text-secondary">Mail</h4>
        <a href="mailto:sahinspostfach@gmail.com" class="text-xs"
          >sahinspostfachgmail.com</a
        >
      </div>
      <div class="footer-link">
        <h4 class="text-xs text-secondary">LinkedIn</h4>
        <a href="https://www.linkedin.com/in/fatih-sahindev" target="_blank" class="text-xs"
          >Fatih Sahin</a
        >
      </div>
      <div class="footer-link">
        <h4 class="text-xs text-secondary">Github</h4>
        <a href="https://github.com/FatihSahinGIT" target="_blank" class="text-xs">FatihSahinGIT</a>
      </div>
    </div>
  </div>
</div>
