<div class="selected-work grid">
    <div class="grid-child col-1-12 row-1">
        <h1 class="selected-work__heading">Selected Works</h1>
    </div>

    <div class="grid-child col-1-10 row-2">
        <div class="selected-work__boxes flex xs:flex-col lg:flex-row gap-10">
            @for (work of projects; track work.company) {
                <selected-work-box
                    [name]="work.name"
                    [tools]="work.tools"
                    [imageUrl]="work.images.selected.url"
                    [imageAlt]="work.images.selected.figcaption"
                ></selected-work-box>
            }
        </div>
    </div>
</div>
