<div>
  <div class="selected-work grid grid-cols-4 gap-3 md:grid-cols-12">
    <div class="col-span-full">
      <h1 class="selected-work__heading">Selected Works</h1>
    </div>

    <div class="col-span-full">
      <div class="selected-work__boxes flex gap-3 xs:flex-col lg:flex-row">
        @for (work of selectedProjects; track work.company) {
          <selected-work-box
            [name]="work.name"
            [tools]="work.tools"
            [image]="work.images.selected"
            [projectUrl]="work.company"
          ></selected-work-box>
        }
      </div>
    </div>
  </div>
</div>
