<div class="about-qualifications flex flex-col gap-3">
  @for (qualification of qualifications; track qualification.title) {
    <div class="about-qualifications__table">
      <section class="flex justify-between border-b border-gray-200 pb-4">
        @if (qualification.url) {
          <a
            [href]="qualification.url"
            target="_blank"
            rel="noopener noreferrer"
            class="transition-underline hover:underline"
          >
            {{ qualification.title }}
          </a>
        } @else {
          <p class="text-base">{{ qualification.title }}</p>
        }
        <p class="text-base">{{ qualification.year }}</p>
      </section>
    </div>
  }
</div>
