<div class="mx-6 my-20 grid grid-cols-1 gap-6 md:mx-auto md:grid-cols-3">
    <!-- Introduction -->
    <div class="about-introduction col-start-1 row-start-1 mb-40 mt-20">
        <div
            class="about-introduction__text-container flex flex-col items-start gap-4"
        >
            <p class="about-introduction__text-content text-xs">
                I’m Fatih Sahin, a 25-year-old frontend developer based in
                Berlin, Germany. I specialize in building modern, responsive web
                applications with a strong focus on usability, performance, and
                design collaboration.
            </p>

            <p class="about-introduction__text-content text-xs">
                Motivated by curiosity and a love for learning, I’m always
                exploring new tools, frameworks, and techniques to expand my
                knowledge and stay up to date with the latest in web
                development. I approach every project with a problem-solving
                mindset, aiming to craft solutions that are both innovative and
                practical.
            </p>

            <button
                class="about-introduction__text-content_button hover:text-secondary text-xs underline"
            >
                Read Resumé
            </button>
        </div>
    </div>

    <div class="education-block col-start-1 row-start-2">
        <h4 class="text-secondary mb-2 text-xs">Education</h4>
    </div>

    <!-- Education content under rome.jpg (third column, second row on desktop) -->
    <div class="education-block md:col-start-3 md:row-start-2">
        <div class="education-bht__headline">
            <h5 class="text-sm">
                Bachelor of Science at Berliner Hochschule für Technik
            </h5>
            <span class="text-secondary text-xs"
                >October 2017 - March 2023</span
            >
            <p class="mt-2 text-xs">
                At kv.digital, I work on both B2B and B2C web applications using
                Angular and TypeScript. I stay in close contact with the design
                team to create intuitive and visually appealing user interfaces
                based on Figma designs.<br />
                My workflow includes writing robust tests with Jest,
                contributing to CI/CD pipelines via Jenkins, and using Bitbucket
                for code collaboration and reviews.
            </p>
        </div>
    </div>

    <div class="education-block md:col-start-3 md:row-start-3">
        <div class="education-bht__headline">
            <h5 class="text-sm">
                Bachelor of Science at Berliner Hochschule für Technik
            </h5>
            <span class="text-secondary text-xs"
                >October 2017 - March 2023</span
            >
            <p class="mt-2 text-xs">
                At kv.digital, I work on both B2B and B2C web applications using
                Angular and TypeScript. I stay in close contact with the design
                team to create intuitive and visually appealing user interfaces
                based on Figma designs.<br />
                My workflow includes writing robust tests with Jest,
                contributing to CI/CD pipelines via Jenkins, and using Bitbucket
                for code collaboration and reviews.
            </p>
        </div>
    </div>
</div>

<div class="work-experience mx-6 my-20">
    <!-- Section Header -->
    <div class="work-experience__header">
        <h4 class="text-secondary mb-2 text-xs">Work Experience</h4>
    </div>

    <div class="work-experience__content flex flex-col gap-4">
        <!-- Work Experience Item 1 -->
        <div
            class="work-experience__item flex flex-row justify-between gap-2 text-xs md:col-start-1 md:row-start-1 md:text-sm"
        >
            <p class="col-span-1 underline">kv.digital</p>
            <p class="col-span-1">Frontend Developer</p>
            <p class="col-span-1">November 2023 - Now</p>
        </div>

        <!-- Work Experience Item 2 -->
        <div
            class="work-experience__item flex flex-row justify-between gap-2 text-xs md:col-start-1 md:row-start-1 md:text-sm"
        >
            <p class="col-span-1 underline">Other Company</p>
            <p class="col-span-1">Frontend Developer</p>
            <p class="col-span-1">January 2021 - October 2023</p>
        </div>

        <!-- Work Experience Item 3 -->
        <div
            class="work-experience__item flex flex-row justify-between items-center gap-2 text-xs md:col-start-1 md:row-start-1 md:text-sm"
        >
            <p class="col-span-1 underline">Freelance</p>
            <p class="col-span-1">Web Developer</p>
            <p class="col-span-1">2019 - 2020</p>
        </div>
    </div>
</div>

<div
    class="development-process 3xl:mb-30 my-20 grid grid-cols-1 gap-x-6 gap-y-12  pt-12 md:mb-4 md:grid-cols-3"
>
    <div class="development-process__header md:col-start-1 md:row-start-1">
        <h4 class="text-secondary text-xs">Development Process</h4>
    </div>

    <div
        class="liquid-glass development-process__discover md:col-start-1 md:row-start-2"
    >
        <h4 class="text-xs md:text-sm">Discover</h4>
        <p class="text-secondary select-none text-xs">
            Uncover user needs and problems through research and observations.
            Identify design challenges worth addressing.
        </p>
    </div>

    <div
        class="liquid-glass development-process__create md:col-start-2 md:row-start-2"
    >
        <h4 class="text-xs md:text-sm">Create</h4>
        <p class="text-secondary select-none text-xs">
            Engage in creative exploration, challenge assumptions, and rapidly
            prototype and test solutions.
        </p>
    </div>

    <div
        class="liquid-glass development-process__deliver p-2 md:col-start-3 md:row-start-2"
    >
        <h4 class="text-xs md:text-sm">Deliver</h4>
        <p class="text-secondary select-none text-xs">
            Translate refined concepts into intuitive interfaces, collaborate
            closely with design and engineering, and deliver user-focused,
            accessible products.
        </p>
    </div>

    <div class="development-process__text md:col-start-1 md:row-start-4">
        <p class="text-xs">
            As a detail-oriented developer, I focus on the small but impactful
            aspects of UI development: spacing, element placement, smooth state
            transitions, and micro-interactions. I believe great frontend work
            lies in these details—when thoughtfully implemented, they create
            interfaces that feel seamless and intuitive. <br /><br />
            I strive to make design ideas shine through clean, performant, and
            maintainable code. Collaborating deeply with designers allows me to
            better understand the intention behind every pixel and transform it
            into meaningful user experiences.
        </p>
    </div>

    <div class="development-process__text md:col-start-1 md:row-start-6">
        <h4 class="text-secondary mb-2 text-xs">Design Explorations</h4>
        <p class="text-xs">
            This page showcases a collection of my small projects and
            experiments, providing a glimpse into my design journey and ideas
            I've explored along the way.
        </p>
    </div>
</div>
