<div class="grid grid-cols-1 gap-6 md:my-20 md:grid-cols-3">
    <!-- Introduction -->
    <div class="about-introduction mb-20 mt-20 md:col-span-1 md:row-start-1">
        <div
            class="about-introduction__text-container flex flex-col items-start gap-4"
        >
            <h1 class="text-secondary text-base text-gray-400">Introduction</h1>
            <p class="about-introduction__text-content mt-2 text-base">
                I am Fatih Sahin, a 25-year-old frontend developer based in
                Berlin, Germany. I specialize in building modern, responsive web
                applications with a strong focus on usability, performance, and
                thoughtful design
            </p>

            <p class="about-introduction__text-content text-base">
                My fascination with frontend development comes from its role as
                the bridge between design and code — the place where ideas
                become real, interactive experiences. I care deeply about
                accessibility and aim to create interfaces that are intuitive,
                inclusive, and feel naturally “right” to use.
            </p>

            <p class="about-introduction__text-content text-base md:w-3/4">
                Curious by nature and motivated by continue learning, I
                regularly explore new tools, frameworks, and techniques to
                expand my skill set and stay up to date with modern web
                development practices. I approach every project with a
                solution-oriented mindset, aiming to deliver outcomes that are
                both innovative and practical.
            </p>

            <button
                class="about-introduction__text-content_button hover:text-secondary text-xs text-gray-400 underline"
            >
                Read Resumé
            </button>
        </div>
    </div>

    <div class="about-introduction mb-20 mt-20 md:col-start-3 md:row-start-1">
        <figure class="about-introduction__image-container">
            <img
                src="/about-images/portrait.jpg"
                alt="Portrait of Fatih Sahin"
                class="h-auto w-full rounded-sm object-cover"
            />
            <figcaption class="mt-2">
                <p class="text-sm">Fatih Sahin</p>
                <p class="text-sm text-gray-400">Frontend Developer</p>
            </figcaption>
        </figure>
    </div>

    <div class="education-block md:col-start-1 md:row-start-2">
        <h2 class="text-secondary text-base text-gray-400">Education</h2>
    </div>

    <div class="education-block md:col-start-3 md:row-start-2">
        <app-education-block
            [headline]="'ANGULARarchitects'"
            [duration]="'October 2025'"
        >
            <p class="mt-2 text-base">
                I participated in an accessibility workshop led by Dr. Maria
                Korneeva. The course addressed web accessibility standards
                including WCAG and focused on integration into Angular
                applications. <br />
                Key topics included designing accessible components, applying
                the appropriate use of ARIA , ensuring keyboard navigation and
                focus management, structuring semantic HTML to support assistive
                technologies, providing accessible forms and error messaging,
                and managing color contrast and responsive layout for inclusive
                experiences. The training also covered how to audit and test
                Angular applications for accessibility issues and embed
                accessibility practices into the development workflow.
            </p>
        </app-education-block>
    </div>

    <div class="education-block md:col-start-3 md:row-start-3">
        <app-education-block
            [headline]="'Angular Schule'"
            [duration]="'April 2024'"
        >
            <p class="mt-2 text-base">
                I completed a comprehensive Angular training covering the
                fundamentals and advanced concepts of Angular, including
                component architecture, services, dependency injection, routing,
                forms, and application structure. The course included practical
                work with TypeScript, Angular CLI, Standalone Components,
                Signals, and reactive programming with RxJS. <br />
                Additional topics included HTTP communication with REST APIs,
                state handling, testing practices, and best-practice
                architectural patterns for building scalable and maintainable
                Angular applications.
            </p>
        </app-education-block>
    </div>

    <div class="education-block md:col-start-3 md:row-start-4">
        <app-education-block
            [headline]="'Berliner Hochschule für Technik'"
            [duration]="'October 2017 - March 2023'"
        >
            <p class="mt-2 text-base">
                At kv.digital, I work on both B2B and B2C web applications using
                Angular and TypeScript. I stay in close contact with the design
                team to create intuitive and visually appealing user interfaces
                based on Figma designs.<br />
                My workflow includes writing robust tests with Jest,
                contributing to CI/CD pipelines via Jenkins, and using Bitbucket
                for code collaboration and reviews.
            </p>
        </app-education-block>
    </div>
    <div class="education-block md:col-start-1 md:row-start-20">
        <h2 class="text-secondary text-base text-gray-400">Education</h2>
    </div>

    <div class="education-block md:col-start-3 md:row-start-20">
        <app-education-block
            [headline]="'kv.digital'"
            [duration]="'October 2025'"
        >
            <p class="mt-2 text-base">
                I participated in an accessibility workshop led by Dr. Maria
                Korneeva. The course addressed web accessibility standards
                including WCAG and focused on integration into Angular
                applications. <br />
                Key topics included designing accessible components, applying
                the appropriate use of ARIA , ensuring keyboard navigation and
                focus management, structuring semantic HTML to support assistive
                technologies, providing accessible forms and error messaging,
                and managing color contrast and responsive layout for inclusive
                experiences. The training also covered how to audit and test
                Angular applications for accessibility issues and embed
                accessibility practices into the development workflow.
            </p>
        </app-education-block>
    </div>

    <div class="education-block md:col-start-3 md:row-start-21">
        <app-education-block [headline]="'Interval'" [duration]="'April 2024'">
            <p class="mt-2 text-base">
                I completed a comprehensive Angular training covering the
                fundamentals and advanced concepts of Angular, including
                component architecture, services, dependency injection, routing,
                forms, and application structure. The course included practical
                work with TypeScript, Angular CLI, Standalone Components,
                Signals, and reactive programming with RxJS. <br />
                Additional topics included HTTP communication with REST APIs,
                state handling, testing practices, and best-practice
                architectural patterns for building scalable and maintainable
                Angular applications.
            </p>
        </app-education-block>
    </div>
</div>
