<section class="work-information">
    <header class="work-information__header flex xs:w-full md:w-max flex-col">
        <h1>{{ projectName }}</h1>
        <h2>{{ clientName }}</h2>
    </header>

    <div class="work-information__date mt-10">
        <dl
            class="work-information__date-list m-0 flex justify-between gap-6 xs:flex-col md:flex-row"
        >
            <div class="flex flex-col">
                <dt class="work-information__date-label">Timeframe</dt>
                <dd class="work-information__date-value">
                    <time datetime="2024-01">{{ projectDate }}</time>
                </dd>
            </div>

            <div class="flex flex-col">
                <dt class="work-information__date-label">Role</dt>
                <dd class="work-information__date-value">{{ roleName }}</dd>
            </div>

            <div class="flex flex-col">
                <dt class="work-information__date-label">Visit Website</dt>
                <dd class="work-information__date-value">
                    <a href="{{ projectUrl }}" target="_blank">Link</a>
                </dd>
            </div>
        </dl>
    </div>
</section>
