<section class="work-images">
  <div class="work-images__container h-auto w-full">
    @if (image?.overview; as overview) {
      <figure [class]="overview.figureClass">
        <div class="max-h-160 card overflow-hidden">
          <img
            [src]="overview.url"
            [attr.srcset]="getSrcset(overview.srcset)"
            [attr.sizes]="overview.sizes"
            [alt]="overview.alt"
            [class]="overview.imageClass"
          />
        </div>

        <figcaption class="mt-2 text-start text-sm">
          {{ overview.figcaption }}
        </figcaption>
      </figure>
    }
  </div>
</section>
