<nav
  #navbar
  class="mb-8 flex items-center justify-between rounded-md pt-4"
  aria-label="Main navigation"
>
  <a
    href="/"
    aria-label="Home - Portfolio"
    class="navbar-logo inline-flex"
    (click)="navigate($event, '/')"
  >
    <img [src]="logoSrc()" alt="Portfolio Logo" class="h-8 md:h-12" />
  </a>

  <ul class="flex items-center gap-3 rounded-md md:px-4 md:py-2">
    <li class="navbar-link">
      <a
        class="hover:underline-offset-3 hover:underline"
        href="/about"
        (click)="navigate($event, '/about')"
        >About</a
      >
    </li>
    <li class="navbar-link">
      <a class="hover:underline-offset-3 hover:underline" href="#work">Work</a>
    </li>

    <li class="navbar-link">
      <a class="hover:underline-offset-3 hover:underline" href="mailto:sahinspostfach@gmail.com"
        >Contact</a
      >
    </li>
    <li class="navbar-link">
      <button
        type="button"
        (click)="toggleTheme()"
        [attr.aria-label]="isDarkMode() ? 'Switch to light mode' : 'Switch to dark mode'"
        class="flex cursor-pointer items-center justify-center p-2"
      >
        <ng-icon
          [name]="isDarkMode() ? 'bootstrapSunFill' : 'bootstrapMoonFill'"
          aria-hidden="true"
        />
      </button>
    </li>
  </ul>
</nav>
