<section
    class="about-experience grid-child col-1-12 row-12-12"
    aria-labelledby="experience-heading"
>
    <div class="about-experience__container">
        <h2 id="experience-heading" class="h1">Experience</h2>

        <div class="about-experience__list">
            <div class="mt-4.5">
                <ul class="space-y-4">
                    <li class="about-qualification__item flex justify-between">
                        <span>
                            <a
                                class="underline-offset-4 hover:underline hover:ease-in-out"
                                href="https://www.kv.digital/"
                                target="_blank"
                                >kv.digital</a
                            >
                        </span>
                        <span>
                            <time datetime="2023">2023</time> - present
                        </span>
                    </li>
                    <li class="about-qualification__item flex justify-between">
                        <span>
                            <a
                                class="underline-offset-4 hover:underline hover:ease-in-out"
                                href="https://www.interval-berlin.de/"
                                target="_blank"
                                >InterVal</a
                            >
                        </span>
                        <time datetime="2022">2022</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
