<section
  class="grid min-h-[50vh] grid-cols-4 grid-rows-[1fr_auto] md:grid-cols-12 2xl:min-h-[40vh]"
>
  <h2 id="about-heading" class="sr-only">About me</h2>

  <h2
    #headline
    class="col-span-full mx-auto max-w-5xl self-center px-6 text-center font-extralight text-gray-600"
  >
    I am Fatih Sahin, a 26-year-old
    <strong class="font-light">frontend developer</strong>
    based in
    <strong class="font-light">Berlin, Germany</strong>. With a background in computer science, I
    build thoughtful user interfaces that feel intuitive and reliable.
  </h2>
</section>
