 <section
        class="about-competencies grid-child col-1-12 xs:row-3-12 xs:my-10 xs:h-full md:my-0 md:h-screen"
        aria-labelledby="competencies-heading"
    >
        <div
            class="about-competencies__container flex h-full flex-col justify-center"
        >
            <h2 id="competencies-heading" class="h1">Competencies</h2>
            <div
                class="about-competencies__list mt-4 flex w-1/2 flex-wrap items-center justify-between"
            >
                <ul>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >01</span
                        >Accessibility
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >02</span
                        >Angular
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >03</span
                        >CMS
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >04</span
                        >Figma
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >05</span
                        >HTML/CSS
                    </li>
                </ul>
                <ul>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >06</span
                        >JIRA
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >07</span
                        >Jest
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >08</span
                        >React
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >09</span
                        >SonarQube
                    </li>
                    <li>
                        <span
                            class="competency-list-item__index"
                            aria-hidden="true"
                            >10</span
                        >Storybook
                    </li>
                </ul>
            </div>
        </div>
    </section>