<section
  class="about-competencies flex flex-col items-start gap-3"
  aria-labelledby="competencies-heading"
>
  <h2 id="competencies-heading" class="mb-4 shrink-0 md:w-max">Competencies</h2>

  <div class="about-competencies__list flex w-full flex-row gap-3">
    <ul>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">01</span
        >Accessibility
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">02</span>Angular
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">03</span>CMS
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">04</span>Figma
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">05</span
        >HTML/CSS
      </li>
    </ul>
    <ul>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">06</span>JIRA
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">07</span>Jest
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">08</span>React
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">09</span
        >SonarQube
      </li>
      <li class="flex items-center text-2xl">
        <span class="competency-list-item__index mr-2 font-bold" aria-hidden="true">10</span
        >Storybook
      </li>
    </ul>
  </div>
</section>
