<div #introContainer class="relative flex h-[35vh] items-center md:h-[45vh]">
    <div
        class="col-span-2 row-span-2 row-start-1 h-max w-auto md:col-span-12 md:w-[50%]"
    >
        <h4 class="fade-in text-xs">
            {{ greetingHeadline }}
        </h4>

        <p class="fade-in py-2 text-xs md:text-base">
            I am a junior frontend developer with a strong passion for clear,
            intuitive, and barrier-free design, dedicated to creating interfaces
            that are not only visually engaging but also highly user-friendly
            and accessible to all. My focus lies in delivering seamless,
            thoughtful user experiences that ensure clarity, efficiency, and
            inclusivity at every stage of interaction.
        </p>

        <span
            class="border-anim absolute bottom-12 left-0 h-[0.1px] w-full origin-left scale-x-0 bg-gray-300"
        ></span>
    </div>
</div>
