<div
  class="w-auto md:w-[50%] row-start-1 col-span-2 row-span-2 md:col-span-12 h-max"
>
  <h1 class="fade-in text-xs md:text-base text-gray-400 md:text-xs">
    {{ greetingHeadline }}
  </h1>
  <p class="fade-in py-2 text-xs md:text-base">
    I am a junior frontend developer with a strong passion for clear, intuitive,
    and barrier-free design, dedicated to creating interfaces that are not only
    visually engaging but also highly user-friendly and accessible to all. My
    focus lies in delivering seamless, thoughtful user experiences that ensure
    clarity, efficiency, and inclusivity at every stage of interaction.
  </p>
</div>
