<div #introContainer class="relative flex h-[35vh] items-center md:h-[45vh]">
    <div
        class="col-span-2 row-span-2 row-start-1 h-max w-auto md:col-span-12 md:w-[50%]"
    >
        <h4 class="fade-in text-xs">
            {{ greetingHeadline }}
        </h4>

        <p class="fade-in py-2 text-xs md:text-base">
            I am a frontend developer with a strong passion for clear,
            intuitive, and barrier-free design. With a degree in Computer
            Science, I focus on building interfaces that are visually engaging,
            highly user-friendly, and accessible to everyone. My work centers on
            creating seamless, thoughtful user experiences that prioritize
            clarity, efficiency, and inclusivity at every stage of interaction.
        </p>

        <span
            class="border-anim absolute bottom-12 left-0 h-[0.1px] w-full origin-left scale-x-0 bg-gray-300"
        ></span>
    </div>
</div>
