@import 'tailwindcss/base';

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg-dark);
    color: var(--text);
}

::selection {
    background: #000;
    color: #fff;
}

h4 {
    color: var(--text-muted)
}

.box {
    background: var(--bg-light);
    padding: 0.5rem;
    color: var(--text);
    border-radius: 0.5rem;
    border-top: 1px solid var(--hightlight);
    border: var(--border);
    transition: all 0.5s ease-in-out;
}

.box:hover {
    background: var(--bg);
}

.grid > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .grid > * {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
