@import 'tailwindcss';

.card img {
  transition: transform 260ms cubic-bezier(0.22, 1, 0.36, 1);
  transform-origin: center center;
}

@media (prefers-color-scheme: dark) {
  .card img {
    /* filter: brightness(0) invert(1); */
  }
}

.card:hover {
    @apply rounded-lg;
    transition: border-radius 260ms cubic-bezier(0.22, 1, 0.36, 1);
}

.card:hover img,
.card:focus-within img {
  transform: scale(0.95);

}

@media (prefers-reduced-motion: reduce) {
  .card img {
    transition: none;
  }
}
