<div class="headline__container grid h-[80vh] grid-cols-4 gap-8 md:h-[85vh] md:grid-cols-12 mb-10">
  <!-- Text -->
  <div
    class="headline__text col-span-full h-max md:col-span-6 md:h-[inherit] md:content-end lg:col-span-5"
  >
    <div class="headline__text-content flex flex-col gap-4 md:gap-8">
      <div class="headline__text-content-headlines flex flex-col gap-2">
        <h1 class="hero-headline headline-animated">Frontend Developer</h1>
        <h2 class="subheadline-animated lg:w-2/3">
          With a computer science background, I build thoughtful user interfaces that feel intuitive
          and reliable.
        </h2>
      </div>
      <div class="headline__text-content-button">
        <button
          class="headline__button w-max rounded-lg bg-black px-2 py-2 text-xs text-white md:text-base"
          (click)="navigateToWork($event)"
        >
          View my work
        </button>
      </div>
    </div>
  </div>

  <!-- Image -->
  <div
    class="headline__image-container col-span-full h-full md:col-span-full md:col-start-8 md:h-[inherit] md:content-end lg:col-span-full lg:col-start-8 xl:col-start-9"
  >
    <img
      class="h-[inherit] w-full rounded-md object-cover"
      src="hero-images/Image.svg"
      alt="Headline Image"
    />
  </div>

  <!-- Seperator -->
  <div class="headline__seperator col-span-full h-px bg-gray-300"></div>
</div>
