<section class="headline grid h-[60vh]">
    <div class="grid-child xs:col-1-12 md:col-1-10 2xl:col-1-6 center-y">
        <div class="headline__content gap-4.5 flex flex-col">
            <h1 class="headline-animated">
                @for (letter of headlineLetters; track $index) {
                    <span class="letter">{{ letter }}</span>
                }
            </h1>

            <h2 class="subheadline-animated">
                I am a frontend developer who believes that the best software is
                simple, intuitive, and accessible to everyone. With a computer
                science background, I create user-focused digital experiences
                that just <i>feel</i> right.
            </h2>
        </div>
    </div>

    <div class="seperator grid-child position-1-end"></div>
</section>
