    <!-- Header -->
    <header
        class="row-start-1 flex h-[40vh] flex-col items-start justify-center gap-10 md:gap-10"
    >
        <div class="flex flex-col gap-2">
            <h1 id="work-title" class="fade-in text-lg font-normal md:text-2xl">
                {{ project?.name }}
            </h1>
            <p class="text-muted text-base text-gray-400">
                {{ project?.alttext }}
            </p>
        </div>
        <div
            class="flex w-full flex-row flex-wrap justify-between gap-6 self-start"
            aria-label="Project details"
        >
            <div class="single-work__specs-item w-max">
                <span class="block text-xs md:text-base">Agency</span>
                <span class="text-xs text-gray-400">{{ project?.name }}</span>
            </div>
            <div class="single-work__specs-item w-fit">
                <span class="block text-xs md:text-base">Year</span>
                <span class="text-xs text-gray-400">{{ project?.year }}</span>
            </div>
            <div class="single-work__specs-item w-fit">
                <span class="block text-xs md:text-base">Timeframe</span>
                <span class="text-xs text-gray-400">{{
                    project?.timeframe
                }}</span>
            </div>
            <div class="single-work__specs-item w-fit">
                <span class="block text-xs md:text-base">Technology</span>
                <span class="text-xs text-gray-400">{{ project?.tools }}</span>
            </div>
        </div>

        <span
            class="border-anim h-[0.1px] w-full origin-left scale-x-0 bg-gray-300"
        ></span>
    </header>