<main
    role="main"
    #infoContainer
    class="single-work__container mb-20 grid auto-rows-min gap-8"
    aria-labelledby="work-title"
>

    <app-single-work-header [project]="project"></app-single-work-header>

    <app-intro-section [project]="project"></app-intro-section>


    <app-highlights-section [project]="project"></app-highlights-section>


    <app-text-section title="Technology" [text]="project?.texts?.technology"></app-text-section>


    <app-text-section title="Challenges" [text]="project?.texts?.challenges"></app-text-section>


    <app-grand-image-section [image]="project?.images?.desktop"></app-grand-image-section>


    <app-text-section title="Takeaways" [text]="project?.texts?.takeaway"></app-text-section>
</main>
