<main
    role="main"
    #infoContainer
    class="single-work__container mb-20 grid auto-rows-min gap-8"
    aria-labelledby="work-title"
>
    <app-single-work-header [project]="project"></app-single-work-header>
    <div
        class="single-work__content row-start-2 flex flex-col justify-center gap-10 md:flex-col-reverse"
        aria-label="Project overview"
    >
        <div class="liquid-glass rounded-lg p-4 md:h-max md:w-full">
            <figure>
                <img
                    src="/kvdigital.webp"
                    alt="Screenshot of kv.digital project interface."
                    class="h-[400px] w-full rounded-sm object-contain"
                />
                <figcaption class="mt-2 text-xs text-gray-400">
                    Screenshot of kv.digital project interface.
                </figcaption>
            </figure>
        </div>
        <aside
            class="single-work__content-text flex w-2/3 flex-col"
            aria-label="Project overview text"
        >
            <h4 class="text-xs md:text-sm">Introduction</h4>
            <p class="text-xs">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
                cum odit eum et. Obcaecati iusto, voluptas quam quod recusandae
                distinctio vitae quaerat reiciendis voluptates in ipsum porro.
                Omnis, dolorum placeat.
            </p>
        </aside>
    </div>

    <div
        class="single-work__bold-text mt-50 gap-30 md:gap-50 row-start-3 flex flex-col-reverse md:flex-col"
        aria-label="Project highlights"
    >
        <div
            class="single-work__technology col-start-1 row-start-4 mt-10 flex flex-row justify-between gap-2 md:flex-col"
            aria-label="Technology"
        >
            <div class="w-1/2">
                <h4 class="text-xs md:text-sm">Role</h4>
            </div>
            <div class="w-2/3 text-xs md:w-1/2 md:text-sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Excepturi earum praesentium similique, itaque veritatis
                explicabo eum incidunt tempora cupiditate ipsa dolorum nisi sunt
                quaerat adipisci tenetur saepe vel. Suscipit ab corrupti sit
                cupiditate dignissimos. Eius qui quaerat delectus omnis quidem?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Excepturi earum praesentium similique, itaque veritatis
                explicabo eum incidunt tempora cupiditate ipsa dolorum nisi sunt
                quaerat adipisci tenetur saepe vel. Suscipit ab corrupti sit
                cupiditate dignissimos. Eius qui quaerat delectus omnis quidem?
            </div>
        </div>

        <div
            class="flex flex-col justify-start gap-10 md:flex-row"
            aria-label="Project highlight images"
        >
            <div class="liquid-glass h-max rounded-lg p-2 md:p-4">
                <figure>
                    <img
                        src="/kvdigitalmobile.webp"
                        alt="Mobile screenshot of kv.digital project."
                        class="h-full w-full rounded-sm object-cover"
                    />
                    <figcaption class="mt-2 text-xs text-gray-400">
                        Mobile screenshot of kv.digital project.
                    </figcaption>
                </figure>
            </div>
            <div class="liquid-glass h-max rounded-lg p-2 md:p-4">
                <figure>
                    <img
                        src="/kvdigitalmobile.webp"
                        alt="Mobile screenshot of kv.digital project."
                        class="h-full w-full rounded-sm object-cover"
                    />
                    <figcaption class="mt-2 text-xs text-gray-400">
                        Mobile screenshot of kv.digital project.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div
        class="single-work__technology md:mt-50 col-start-1 row-start-4 mt-10 flex flex-row justify-between gap-2 md:flex-col"
        aria-label="Technology"
    >
        <div class="w-1/2">
            <h4 class="text-xs md:text-sm">Technology</h4>
        </div>
        <div class="w-2/3 text-xs md:w-1/2 md:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            earum praesentium similique, itaque veritatis explicabo eum incidunt
            tempora cupiditate ipsa dolorum nisi sunt quaerat adipisci tenetur
            saepe vel. Suscipit ab corrupti sit cupiditate dignissimos. Eius qui
            quaerat delectus omnis quidem? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Excepturi earum praesentium similique,
            itaque veritatis explicabo eum incidunt tempora cupiditate ipsa
            dolorum nisi sunt quaerat adipisci tenetur saepe vel. Suscipit ab
            corrupti sit cupiditate dignissimos. Eius qui quaerat delectus omnis
            quidem?
        </div>
    </div>

    <div
        class="single-work__challenges md:mt-25 row-start-5 mt-10 flex flex-col justify-between gap-2 md:flex-col"
        aria-label="Challenges"
    >
        <div class="w-1/2">
            <h4 class="text-xs md:text-sm">Challenges</h4>
        </div>
        <div class="w-2/3 text-xs md:w-1/2 md:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            earum praesentium similique, itaque veritatis explicabo eum incidunt
            tempora cupiditate ipsa dolorum nisi sunt quaerat adipisci tenetur
            saepe vel. Suscipit ab corrupti sit cupiditate dignissimos. Eius qui
            quaerat delectus omnis quidem? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Excepturi earum praesentium similique,
            itaque veritatis explicabo eum incidunt tempora cupiditate ipsa
            dolorum nisi sunt quaerat adipisci tenetur saepe vel. Suscipit ab
            corrupti sit cupiditate dignissimos. Eius qui quaerat delectus omnis
            quidem?
        </div>
    </div>

    <div
        class="single-work__grand-image mt-50 row-start-6"
        aria-label="Grand image"
    >
        <div class="liquid-glass h-max w-full rounded-lg p-4">
            <figure>
                <img
                    src="/kvdigital.webp"
                    alt="Screenshot of kv.digital project interface."
                    class="h-max w-full rounded-sm object-cover"
                />
                <figcaption class="mt-2 text-xs text-gray-400">
                    Screenshot of kv.digital project interface.
                </figcaption>
            </figure>
        </div>
    </div>

    <div
        class="single-work__takeaways md:mt-50 row-start-7 flex flex-col justify-between gap-2 md:flex-col"
        aria-label="Takeaways"
    >
        <div class="w-1/2">
            <h4 class="text-xs md:text-sm">Takeaways</h4>
        </div>
        <div class="w-2/3 text-xs md:w-1/2 md:text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            earum praesentium similique, itaque veritatis explicabo eum incidunt
            tempora cupiditate ipsa dolorum nisi sunt quaerat adipisci tenetur
            saepe vel. Suscipit ab corrupti sit cupiditate dignissimos. Eius qui
            quaerat delectus omnis quidem? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Excepturi earum praesentium similique,
            itaque veritatis explicabo eum incidunt tempora cupiditate ipsa
            dolorum nisi sunt quaerat adipisci tenetur saepe vel. Suscipit ab
            corrupti sit cupiditate dignissimos. Eius qui quaerat delectus omnis
            quidem?
        </div>
    </div>
</main>
