<div class="single-work__bold-text mt-25 gap-14 md:gap-8 row-start-3 flex flex-col" aria-label="Project highlights">
  <div class="single-work__technology col-start-1 row-start-4 flex flex-row justify-between gap-2 md:flex-col" aria-label="Technology">
    <div class="w-1/2">
      <h4 class="text-xs md:text-sm">Role</h4>
    </div>
    <div class="w-2/3 text-xs md:w-1/2 md:text-sm">
      {{ project?.texts?.role }}
    </div>
  </div>
  <div class="flex flex-col justify-start gap-4 md:flex-row" aria-label="Project highlight images">
    <div class="liquid-glass h-max rounded-lg p-2 md:p-4">
      <figure>
        <img
          [src]="project?.images?.smartphone?.src"
          [alt]="project?.images?.smartphone?.figcaption || 'Mobile screenshot'"
          class="h-max w-full rounded-sm object-cover"
        />
        <figcaption class="mt-2 text-xs text-gray-400">
          {{ project?.images?.smartphone?.figcaption }}
        </figcaption>
      </figure>
    </div>
    <div class="liquid-glass h-max rounded-lg p-2 md:p-4">
      <figure>
        <img
          [src]="project?.images?.tablet?.src"
          [alt]="project?.images?.tablet?.figcaption || 'Tablet screenshot'"
          class="h-max w-full rounded-sm object-cover"
        />
        <figcaption class="mt-2 text-xs text-gray-400">
          {{ project?.images?.tablet?.figcaption }}
        </figcaption>
      </figure>
    </div>
  </div>
</div>
