<div #selectedWorks class="mb-12">
    <h4 class="text-secondary mb-2 text-sm">Selected Work</h4>
    <div class="my-4 flex justify-start space-x-3">
        <ng-icon
            name="bootstrapArrowLeft"
            color="#00000"
            class="cursor-pointer"
            (click)="scrollLeft()"
        ></ng-icon>
        <ng-icon
            name="bootstrapArrowRight"
            color="#00000"
            class="cursor-pointer"
            (click)="scrollRight()"
        ></ng-icon>
    </div>
    <div class="w-full overflow-x-auto py-2" #scrollContainer>
        <ul class="flex min-w-max space-x-6">
            @for (project of projects; track project.company; let i = $index) {
                <li
                    class="box h-full w-auto overflow-hidden rounded-md bg-white shadow"
                >
                    <img
                        [src]="project?.images?.selected?.src"
                        [alt]="project.title"
                        class="h-[90vh] w-auto cursor-pointer rounded-md object-cover"
                        (click)="redirectToWork(project.company)"
                    />
                    <div class="w-full">
                        <h3 class="mb-1 mt-2 text-sm font-normal">
                            {{ project.name }}
                        </h3>
                        <span class="text-xs text-gray-400">
                            @for (tool of project?.tools; track tool; let i = $index) {
                                {{ tool }}@if (i < (project?.tools?.length || 0) - 1) {<span>,</span>}
                            }
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
