<div #selectedWorks class="mb-12">
    <h4 class="text-secondary mb-2 text-sm">Selected Work</h4>
    <div class="my-4 flex justify-start space-x-3">
        <ng-icon
            name="bootstrapArrowLeft"
            color="#00000"
            class="cursor-pointer"
            (click)="scrollLeft()"
        ></ng-icon>
        <ng-icon
            name="bootstrapArrowRight"
            color="#00000"
            class="cursor-pointer"
            (click)="scrollRight()"
        ></ng-icon>
    </div>
    <div class="w-full overflow-x-auto py-2" #scrollContainer>
        <ul class="flex min-w-max space-x-6">
            @for (project of projects; track project.company; let i = $index) {
                <li
                    class="box 3xl:w-[670px] 3xl:h-max h-[697px] w-[460px] flex-shrink-0 overflow-hidden"
                >
                    <img
                        [src]="project.image"
                        [alt]="project.title"
                        class="3xl:h-[100vh] fade-in h-[620px] w-full cursor-pointer rounded-sm object-cover"
                        (click)="redirectToWork(project.company)"
                    />

                    <h3 class="my-2 text-sm font-normal">
                        {{ project.name }}
                    </h3>
                    <p class="text-xs text-gray-400">{{ project.tools }}</p>
                </li>
            }
        </ul>
    </div>
</div>
