@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer theme {
  @theme {
    --font-color: #acacac;
  }
};

@layer utilities {
  .fade-in-text {
    animation: fadeIn 0.5s ease-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.grid > * {
  @apply px-4 md:px-8;
  /* border: 1px solid red; */
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}
