@import 'tailwindcss';

@theme {
    /* == LIGHT MODE */

    /* = Background = */
    --bg-dark: hsl(100, 100, 100%);
    --bg: hsl(0, 0%, 90%);
    --bg-light: hsl(0, 0%, 85%);

    /* = Text = */
    --text: hsl(100, 100%, 0%);
    --text-muted: hsl(0, 0%, 35%);

    /* = Border & Gradient */
    --border: hsl(0, 0%, 80%);
    --border-card: 1px solid var(--bg);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --hightlight: hsl(0, 0, 60%);
}

html.dark,
body.dark {
    /* == DARK MODE */

    /* = Background = */
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);

    /* = Text = */
    --text: hsl(100, 100%, 100%);
    --text-muted: hsl(0, 0%, 35%);

    /* = Border & Gradient */
    --border: hsl(0, 0%, 80%);
    --border-card: 1px solid var(--border);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --hightlight: hsl(0, 0, 100%);
}

/* Root styles */
:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg-dark);
    color: var(--text);
}
