<div>
  <div class="work-overview mb-25.5 mt-8 grid h-max grid-cols-4 gap-6 md:grid-cols-12 md:gap-14">
    <div class="work-overview__headline col-span-full">
      <h1 id="work-overview-heading">Things I have worked on</h1>
      <h2 id="work-overview-subheading">
        Projects shaped by clear requirements, collaboration, and iteration.
      </h2>
    </div>

    @for (project of projects; track project; let i = $index) {
      <div [class]="itemClasses(i)" class="work-overview__list">
        <figure class="h-full w-full" (click)="navigateToProject($event, project.company)">
          <img
            [src]="project.images.overview.url"
            class="h-[50vh] w-full object-cover md:h-auto cursor-pointer 2xl:border-2 rounded-md"
            [alt]="project.alttext || ''"
            vo
          />
          <figcaption
            class="hover:text-underline mt-2 w-max cursor-pointer text-sm hover:underline hover:underline-offset-1 md:mt-3"
            (click)="navigateToProject($event, project.name)"
          >
            {{ project.images.overview.figcaption }}
          </figcaption>
        </figure>
      </div>
    }
  </div>
</div>
