<section class="work-wrapper mt-20 grid">
    <work-information
        class="grid-child col-1-9"
        [projectName]="projectSignal()?.project"
        [clientName]="projectSignal()?.name"
        [projectDate]="projectSignal()?.year"
        [roleName]="projectSignal()?.role"
        [projectUrl]="projectSignal()?.url"
    />

    <work-images class="grid-cild col-1-9" [images]="projectSignal()?.images" />
    <work-text
        class="grid-child col-10-12"
        [text]="projectSignal()?.texts?.introduction"
    />

    <work-details
        class="grid-child col-1-12"
        [headline]="'Task'"
        [text]="projectSignal()?.texts?.task"
    ></work-details>

    <work-details
        class="grid-child col-1-12"
        [headline]="'Outcome'"
        [text]="projectSignal()?.texts?.outcome"
    ></work-details>
</section>
